{% extends 'base.html'%}

{% block title%}

{% endblock title%}



{% block content%}
<div class="container" style="margin-top: 100px; text-align: center;" id="about">
<div class="row">
  <div class="col">
    <div class="card h-100">
      <img src="https://i.pinimg.com/originals/c5/b2/f9/c5b2f95480e354559e0bbb8661349da0.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Code Name ACEツ</h5>
        <p class="card-text">Hello and welcome to Gēmu the worlds best gaming website where you can browsr throughout dozens of games and review your best games or your not so liked games. My names is Joseph(A.K.A ACEツ) and I am one of 3 co-founders of Gēmu. We hope you enjoy your visit! Keep on Gaming!</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Gēmu Gaming made right</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://thumbs.gfycat.com/AggravatingKindheartedKrill-size_restricted.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Afam3</h5>
        <p class="card-text">What’s going on. My name is Afam Onaga and I am from the Bronx, NY. I am a co-founder of Gemu along with my guys Herby and Joseph.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Gēmu Gaming made right</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://media3.giphy.com/media/dyjrpqaUVqCELGuQVr/200.gif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Krehola</h5>
        <p class="card-text">Welcome to Gemu, the best gaming site on the internet. My name is Herby(Krehola). If you think there is a better gaming site, ur probably wrong.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Gēmu Gaming made right</small>
      </div>
    </div>
  </div>
  <p id="hello">
      Gemu was founded by a group of teenagers that go by the name of Herby, Joseph and Afam. Just like a group of teenagers, we were just thinking of creative ideas of our own businesses when it hit us one random day. Why not create our own video game review website where all games can find the information they need on a game or where customers who are satisfied with a certain game can leave a positive review for the next customer to see. Well that is what we exactly did. Founded on July 22nd, 2021, our aim as a group was to offer excellent service to all the gamers in the world looking to leave reviews on their favorite video game or for gamers interested in a specific video game, can come to us as a resource to come to conclusion whether or not the video game is worth it. We believe our expertise in video games will and has warranted thousands of visitors a month to leave reviews, like reviews or search for reviews.
  </p>
</div>
</div>

{% endblock content%}
